<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Faqs Application</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :js %>
  </head>

  <body class = "<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/header' %>
   <div class="container">
        <%= yield %>
        <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
